*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
   /* background-image: url('tirebg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;*/
    background-color: lightskyblue;
}

/* CONTAINER */
.container{
    display: flex;
    height: 500px;
    width: 800px;
    /*border: 1px solid black;*/
    margin: auto;
    margin-top: 150px;
    box-shadow: 15px 15px 20px black;
}

/* LOGIN */
.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color: whitesmoke;
}
.form h2{
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 40px;
}
.box{
    padding: 12px;
    width: 65%;
    margin:  15px;
    border: 1px solid black;
    outline: none;
    border-radius: 20px;
}

#submit{
    padding: 12px 30px;
    width: 40%;
    margin-top: 40px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 20px;
}

#submit:hover{
    cursor: pointer;
    background-color: blue;
}

/* LOGO */
.side{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color:rgb(76,132,255);
}
.side img{
    width: 400px;
    height: 450px;


}

